<% include partials/header %>
<main class="container-fluid m-0 p-0">
    <div class="container col-md-12 h-100 d-flex">
        <div class="card my-auto mr-auto ml-auto" style="width: 25rem;">
            <img src="images/home-pic.jpg" class="card-img-top" alt="login-pic">
            <div class="card-body">
              <h4 class="card-title text-center">Authenticate Yourself</h4>
              <h6 class="card-subtitle text-secondary text-center">Click Links And Choose Your Authentication Provider</h6>
              <hr>
              <div class="row justify-content-center">
                <a role="button" href="/auth/login" class="btn btn-outline-success mr-1">Login</a>
                <a role="button" href="/auth/logout" class="btn btn-outline-danger">Logout</a>
              </div>
              
            </div>
          </div>
    </div>
</main>

<% include partials/footer %>
