<% include partials/header %>
<main class="container-fluid">
    <div class="container col-md-12 h-100 d-flex">
        <div class="card my-auto mr-auto ml-auto" style="width: 25rem;">
            <img src="../images/home-pic.jpg" class="card-img-top" alt="Authen-pic">
            <div class="card-body">
              <h4 class="card-title text-center">Authentication Providers</h4>
              <hr>
              <div class="row justify-content-center">
                <a role="button" href="/auth/google" class="btn btn-outline-danger mr-1"><i class="fab fa-google"></i> Google</a>
                <a role="button" href="#" class="btn btn-outline-primary mr-1"><i class="fab fa-facebook"></i> Facebook</a>
                <a role="button" href="#" class="btn btn-outline-dark "><i class="fab fa-github"></i> Github</a>
              </div>
              
            </div>
          </div>
    </div>
</main>
<% include partials/footer %>